.sidebar{
    background-color: #f4f4f4;
    padding: 20px 30px;
    .sidebar-header{
        .sidebar-title{
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 18px;
            font-family: 'Owsond';
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}

/* Category Sidebar*/
.category-sidebar{

  @media(max-width:991px){
      position: fixed;
      top: 0;
      left: -250px;
      bottom: 0;
      width: 250px;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: #151515;
      padding: 25px;
      z-index: 50;

      .mobile-overlay{

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color: rgba(0,0,0,.3);
        opacity: 0;
        visibility: hidden;

      }
      .sidebar-header{
        display: none
      }
      .sidebar-body{
        .accordion{
          color: #fff;
          .accordion-header{
            .accordion-title{
              font-size: 14px;
              color: inherit;

            }
          }
         .accordion-body{
                    .list-style{
                        .ls-item{
                            &:before{
                                border-left-color: #fff !important;
                            }
                        }
                    }
                }
        }
      }&.active{
        .mobile-overlay{
          opacity: 1;
          visibility: visible;

        }
      }
  }
}
