<div class="section">
  <div class="section-body">
<div class="sidebar category-sidebar">
  <div class="mobile-overlay"></div>

  <div class="click-outside remove-from-parent">
  <div class="sidebar-header">
    <div class="sidebar-title">
      <h4>Category</h4>
    </div>
  </div>
    <div class="sidebar-body">
      <ul class="accordion-container">

          <li *ngFor='let main of Main_Category' class="accordion">

              <button type="button" class="accordion-btn toggle-active-parent">
                <span class="icon plus fa fa-plus"></span>
                <span class="icon minus fa fa-minus"></span>

              </button>
            <div class="accordion-header">
              <h3 class="accordion-title">
               <a href="#">{{main.Title}}</a>
                <span class={{main.color}}>{{main.status}}</span>
              </h3>

            </div>

            <div class="accordion-body">
              <ul class="list-style">
                <li  *ngFor='let sub of main.submenu'  class="ls-item">

                  <a href="#">{{sub}}
                  </a>

                </li>
              </ul>
            </div>
          </li>

      </ul>
    </div>
  </div>
  </div>
</div>
</div>
