<div class="section">
  <div class="section-body">

    <div class="main-slider slider">
      <div class="slider-banner">

        <div *ngFor='let item of createRange(5)' class="slider-item">
          <div class="slide-img image-ratio">
            <div class="ratio main-slider-ratio"></div>
            <div class="ratio-inner">
              <div class="content">
                <h3 class="title"> VINTAGE<br/>STYLEFURNITURES {{item}}</h3>
                <a class="link" href="#">Shop Now</a>
              </div>
              <img src="assets/images/main-slider/img-slider-1.png" alt="slider image" draggable="false"/>
            </div>

          </div>
        </div>

      </div>
      <div class="slider-controllers">
        <button class="icon prev fa fa-angle-left" type="button"></button>
        <button class="icon next fa fa-angle-right" type="button"></button>
      </div>
    </div> <!-- end main sllider -->





  </div>


</div>


