<div class="section collection-section">
  <div class="section-body">
    <div class="row collection-container">
      <div class="col-sm-4 col-xs-12 content-col">
        <div class="collection-content text-center">
        <div class="content">
          <h2 class="title">
            HOME &amp; GARDEN
          </h2>
          <div class="price">
            <span class="price-title">
              Starting At
            </span>
            <div class="price">
              <span class="new-price">$352.00</span>
              <span class="old-price">$452.00</span>

            </div>
            <a href="#" class="link">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
      <div class="col-sm-8 col-xs-12 collection-image">
          <div class="image-ratio">
            <div class="ratio collection-ratio">
              <div class="ratio-inner">
                <img src="./assets/images/collection/img-1.png" alt="collection">
              </div>
            </div>
          </div>
      </div>


    </div>
  </div>
</div>
